img {
  height: 100px;
  border: border-box;
  padding-top: 20px;
  margin: 30px;
 
}
body{
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTp3PLW2s9AUcL4Uv-Z030M-wO58WpVBGxEKRIOS9t7a1kldCL3");
  background-size: 100%;
font-family: arial;
text-align:center;
 margin: 20;
  
}
ol{
  max-width: 350px;
  line-height: 1.6;
  margin-left: 3px;
  text-align:left;
  font: 20px georgia;

}
.navbar ul{
   border: 5px solid ;
  background-color:#d5ff40;
  color: #008000;
  list-style-type:none;
  height: 40px;
  padding-top: 20px;
  
}
  
.navbar li{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
 
}

.container{
  text-align:left;
}
.usage{
  text-align:left;
}
 
    

.navbar li{
 
  margin: 40px ;
  font-family: verdana;
  padding: auto;
 display:inline;
  
 
  
}

h3{
  text-align: center;
  font: bold 20px arial ;

}
h2{
  text-align: left;
  margin-left: 20px;
}
h4{
  text-align: left;
  margin: 60px 10px 1px;

}


  
 
.btn{
  padding: 10px;
  width:10%;
  background-color: #59b300;
  font: 15px arial;
  margin-bottom: 50px;
 display: block;
  
  
}
.footer ul{
   border: 5px solid ;
  background-color:#d5ff40;

  color: #008000;
  list-style-type: none;
  height: 60px;
  padding-top: 20px;
  margin-top: 10px;
  
}